pyyaml
types-PyYAML
jsonschema
requests
types-requests
cryptography
pyopenssl
jsonref
psycopg2-binary

# Testing
pytest
pytest-mock
pytest-cov

# Linting and Formatting
ruff
black
isort
mypy
yamllint
